.mainHeader {
    position: relative;
    background-image: url("../src/img/archiwum-sm.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: none;
    background-color: rgba(30,30,30, .7);
    background-blend-mode: overlay;
    min-height: 100vh;
    height: calc(80vh - 100px);
    max-height: 1000px;
    .searchTitle {
        display: flex;
        position: relative;
        flex-direction: row;
        height: 100px;
        width: 100vw;
        top: 20px;
        justify-content: center;
        align-items: center;
        &__text {
            text-transform: uppercase;
            text-align: center;

        }
    }
}
@media all and (min-width: 768px){
    .searchTitle{
        position: fixed !important;
        top: 150px !important;
        left: 0px !important;
    }
}