* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    width: 100vw;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: rgb(2, 3, 88);
}
ul {
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6 {
    color: rgb(14, 17, 184);
}
.navy {
    background-color: rgb(2, 3, 88);
}
.nopass {
    color: red;
}
.slide {
    display: none;
    position: absolute;
    z-index: 10000;
    font-size: 46px;
    top: 50%;
    left: 5vw;
    width: 100%;
    transform: translateY(-50%);
    color: green;
    animation: slider 2s ease-in-out .5s forwards;
}
.slide--active {
    display: block !important;
}
.session {
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    flex-direction: row;
    height: 15px;
    align-items: center;
}
#text {
    display: none;
}
.loginText, .logout {
    color: rgb(2, 3, 88);
    margin-top: 0px;
    padding: 2px 5px;
}
.menu {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100vw;
    margin-top: -10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    height: 120px;
    align-items: center;
    justify-content: space-around;
    transition: all .3s ease-in-out;
    .session {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        padding: 4px 2vw;
        background-color: transparent;
        height: 15px;
        align-items: top;
        flex-direction: row;
        text-overflow: clip;
        font-size: 12px;
        color: white;
        .logout, .loginText {
            margin-right: 5vw;
            background-color: transparent;
            border: none;
            color: white;
            i {
                margin-left: 5px;
            }
        }
    }
        &__logo {
            position: relative;
            display: flex;
            justify-content: center;
            width: 20vw;
            height: 100px;
            .logo__text{
                position: absolute;
                top: 5px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                color: rgb(105, 22, 22);
                transition: opacity .3s ease-in-out;
            }
            .logo__img {
                position: absolute;
                display: inline-block;
                margin: 40px auto 0px auto;
                background-color: transparent;
                height: auto;
                width: 125px;
                border-radius: 50%;
                transition: all .3s ease-in-out;
            }
        }
    &__link {
    font-size: 16px;
    font-weight: bold;
    }
    &__left, &__right {
        display: flex;
        flex-direction: row;
        width: 40vw;
        list-style-type: none;
        padding-left: 0px;
        padding-right: 0px;
    }
    &__right {
        justify-content: flex-end;
        padding-right: 40px;
        .menu__item, .menu__link {
            color: white;
        }
        .menu__item:nth-child(1), .menu__item:nth-child(2) {
            display: none;
        }
    }
    &__left {
        justify-content: flex-start;
        .menu__item, .menu__link {
            color: white;
            transition: all .3s ease-in-out;
            display: none !important;
        }
        .hamburger__menu--active {
                z-index: 1020;
                background-color: transparent !important;
                &:before {
                    transform: translateY(-7px)rotate(45deg);
                }
                &:after {
                    transform: translateY(7px)rotate(-45deg);
                }
            }
        .hamburger {
            display: block;
            height: 50px;
            padding: 20px;
            margin-right: auto;
            position: relative;
            z-index: 1010;
            width: 50px;
            &:hover {
                    .hamburger__menu {
                    z-index: 1020;
                    transform: scale(1.1);
                }
            }
            &__menu {
                position: relative;
                display: inline-block;
                width: 25px;
                height: 3px;
                border-radius: 20px;
                background-color: white;
                transition: transform .2s linear;
                &:before {
                    content: "";
                    position: absolute;
                    display: inline-block;
                    width: 25px;
                    height: 3px;
                    border-radius: 20px;
                    background-color: white;
                    top: 7px;
                    left: 0px;
                    transition: transform .2s linear;
                }
                &:after {
                    content: "";
                    position: absolute;
                    display: inline-block;
                    width: 25px;
                    height: 3px;
                    border-radius: 20px;
                    background-color: white;
                    top: -7px;
                    left: 0px;
                    transition: transform .2s linear;
                }
            }
            .submenu {
                display: flex !important;
                position: fixed;
                height: 100vh;
                width: 100vw;
                top: 0px;
                left: 0px;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
                transition: .5s ease-in-out,
                opacity .75s ease-in-out;
                clip-path: circle(10px at 10% -10%);
                -webkit-clip-path: circle(10px at 10% -10%);
                opacity: 0;
                pointer-events: none;
            }
            .submenu--active {
                height: 100vh;
                width: 100vw;
                background-color: white;
                clip-path: circle(140vmax at 10% -10%);
                -webkit-clip-path: circle(140vmax at 10% -10%);
                opacity: 1 !important;
                pointer-events: all;
            }
        }

        }
        &__logo {
            position: relative;
            display: flex;
            justify-content: center;
            width: 20vw;
            height: 100px;
            .logo__text{
                position: absolute;
                top: 5px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                color: rgb(209, 44, 44);
                transition: opacity .3s ease-in-out;
            }
            .logo__img {
                position: absolute;
                display: inline-block;
                margin: 40px auto 0px auto;
                background-color: transparent;
                height: auto;
                width: 125px;
                border-radius: 50%;
                transition: all .3s ease-in-out;
            }
        }
        &__link {
            font-size: 16px;
            font-weight: bold;
        }
    }
.logo--smaller {
    margin: -10px auto 0px auto !important;
    width: 100px;
    height: auto;
}
.invisible {
    opacity: 0;
}
.menu--sticky {
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    margin-top: 0px;
    top: 0px;
    left: 0px;
    z-index: 1001 !important;
    box-shadow: 0px 2px 4px grey;
    .session {
        color: rgb(2, 3, 88);
        .logout, .loginText {
            color: rgb(2, 3, 88);

        }
    }
    .menu__right {
        .menu__item, .menu__link {
            color: rgb(2, 3, 88);
        }
    }
    .menu__left {
        .menu__item, .menu__link {
            color: rgb(2, 3, 88);
        }
        .hamburger {
            &__menu {
                background-color: rgb(2, 3, 88);

                &:before, &:after {
                    background-color: rgb(2, 3, 88);
                }
            }

        }
    }
}
.sticky--logo {
    padding: 10px;
    background-color: white !important;
}
.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 50px;
    margin-bottom: 80px;
    align-items: center;
    line-height: 22px;
    z-index: 10;
    &__logo {
        display: none;
        width: 150px;
        height: auto;
    }
    &__list:nth-child(2) {
        display: none;
    }
    &__list {
        padding-left: 0;
    }
    &__paragraph {
        text-align: justify;
    }
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90vw;
        max-width: 1400px;
    }
    &__listHeader {
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
    }
    &__link {
        text-align: center;
    }
}
.contact {
    top: 70px;
    border-top: solid 1px darkgray;
    &__list {
        display: flex;
        flex-direction: row;
        max-width: 400px;
        margin-left: 5vw;
        height: 50px;
        justify-content: space-between;
        align-items: center;
    }
}
// Media queries
@media all and (max-width: 767px) {
    .contact {
            &__list{
            padding-left: 0px;
        }
    }
    .menu {
        &__left {
            .hamburger {
                left: 20px;
            }
        }
    }
}
@media all and (min-width: 768px) {
    .menu {
        &__left {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            .menu__item {
                display: block !important;
            }
            .menu__link {
                display: inline !important;
            }
            .hamburger {
                display: none !important;
            }
        }
        &__right {
            justify-content: space-around;
            padding-right: none;
            .menu__item:nth-child(1), .menu__item:nth-child(2) {
                display: block !important;
            }
        }
    }
    .footer {
        &__logo {
            display: flex;
            width: 150px;
            height: 200px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .footer__img {
                position: relative;
                opacity: .5;
            }
        }
            &__list:nth-child(2) {
                display: block;
            }
            &__content {
                grid-template-columns: .75fr 1fr .75fr;
            }
        }
}
@keyframes slider {
    0% {
        left: 5vw;
    };
    99% {
        left: 120vw;
    };
    100% {
        display: none;
        opacity: 0;
    };

}