.user {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 90vw;
  z-index: 1000000;
  background-color: rgb(228, 225, 225);
  top: 0px;
  left: -90vw;
  height: 100vh;
  max-height: 400px;
  justify-content: space-around;
  border-radius: 0px 5px 5px 0px;
  border-top: double 2px rgb(150, 150, 150);
  border-bottom: double 2px rgb(150, 150, 150);
  border-right: double 2px rgb(150, 150, 150);
  transition: left 0.3s ease-in-out;
  &--active {
    left: 0px !important;
    max-width: 400px;
    .hook {
      &__img {
        transform: rotate(270deg) !important;
      }
    }
  }
  &__header {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    height: 50px;
    .hook {
      position: absolute;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      -webkit-cursor: pointer;
      top: 40px;
      right: 0px;
      margin-right: -25px;
      width: 50px;
      height: 50px;
      background-color: rgb(228, 225, 225);
      border-radius: 50%;
      &__img {
        margin-left: 10px;
        width: 20px;
        height: auto;
        position: relative;
        transform: rotate(90deg);
        transition: transform 1s ease-in-out;
      }
    }
    .user__title {
        margin-top: 10px;
      margin-bottom: 10px;
    }
    .user__avatar {
      display: none;
      width: 60px;
      height: 60px;
      padding: 5px;
      margin: 0 auto;
      border-radius: 50%;
      border: solid 2px rgb(187, 129, 129);
    }
  }
  &__options {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    align-items: flex-start;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: auto;
    a {
      width: 100%;
      text-decoration: none;
      color: darkslategrey;
      transition: transform 0.2s ease-in-out, width 0.2s ease-in-out,
        color 0.01s ease-in-out;
      &:hover {
        transform: scale(1.05);
        color: white;
        .user__option {
          width: calc(100% - 5px);
          transform: translateX(15px);
        }
      }
    }
    .user__option {
      display: flex;
      flex-direction: column-reverse;
      padding: 0 0 5px 5px;
      height: 35px;
      width: 100%;
      border-bottom: solid 2px rgb(150, 150, 150);
    }
  }
}
@media all and (min-width: 768px) {
  .user {
    top: 170px;
    height: 260px;
    width: 400px;
    left: -400px;
    justify-content: flex-end;
    &__header {
      height: 50px;
      .user__avatar {
        display: block;
      }
    }
  }
}
